.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.showcase-content {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  height: 670px;
}

.showcase-content, #about, #services {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.showcase-content img, #about img, #services img {
  width: 50%;
}

.showcase-content h1, #about h1, #services h1 {
  font-size: 50px;
  line-height: 1.2;
}

.btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
}

.btn-primary:hover, .btn-secondary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #4d4d4d;
  color: #fff;
}

.btn-secondary {
  background-color: #f4f4f4;
  color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.showcase {
  height: 670px;
  background-color: #333;
  color: #fff;
}

.showcase .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0 10px;
  box-shadow: 0px 2px 2px 0px rgba(119, 117, 117, 0.75);
  background-color: #333;
}

.showcase .nav img {
  width: 48px;
}

.showcase .nav ul {
  display: flex;
  list-style-type: none;
}

.showcase .nav li {
  padding: 5px 15px;
}

.showcase .nav a:hover {
  color: #ff8700;
}

.showcase .nav a {
  color: #fff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

#about {
  background: url("https://source.unsplash.com/bZZp1PmHI0E/1600x900") no-repeat center center fixed;
  background-size: cover;
  background-color: #333;
  color: #fff;
  height: 670px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

#services {
  width: 100%;
  display: flex;
  background: url(https://source.unsplash.com/K2tdx2mFDHc/1600x900) no-repeat center center/cover;
  background-color: #333;
  color: #fff;
  height: 670px;
  margin: 0 auto;
  text-align: center;
}

#services h1 {
  text-align: center;
}

@media (max-width: 700px) {
  .showcase {
    height: 500px;
  }
  .showcase-content {
    text-align: center;
  }
  .showcase-content img {
    display: none;
  }
}
